* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "FLORAL";
    src: url("../fonts/FloralBold.otf") format("opentype");
}

@font-face {
    font-family: "Kumbh";
    src: url("../fonts/KumbhSans.ttf") format("truetype");
}

body {
    margin:0;
    position: relative;
    padding-bottom: 58px;
}

:root {
    /* Variables */
    /* Colors */
    --black: #140A00;
    --light: #FDF1D8;
    --primary: #F9C04E;
    --light_primary: #FBDC9D;
    --secondary: #CD9FCC;
    --white: #fff;

    /* fonts */
    --text: Kumbh, Roboto, sans-serif;
    --title: FLORAL, Roboto, sans-serif;

    --border: 1.5px solid var(--black);
    --radius3: 32px;
    --radius2: 16px;
    --radius1: 8px;

    /* General */
    color: var(--black);
    font-family: var(--text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: var(--title);
}

button {
    background: none;
    border: none;
}
