footer {
    bottom: 0;
    width: 100%;
}

main {
    margin: 0 auto;
}

#title{
    font-family: var(--title);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: var(--black);
    margin-left: 0.5em;
}

form{
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light);
    margin: 2.5% 10% 2.5% 10%;
    border-radius: var(--radius1);
}


.form-global{
    display: flex;
    justify-content: space-around;
}

#name-contact{
    display: flex;
    justify-content: space-around;
}

#form-left{
    margin-left: 1em;
}

#form-right{
    margin-left: 1em;
    margin-right: 1em;
}

#form-submit{
    background-color: var(--primary);
}

.input{
    width : 20em;
    height: 2.5em;
    border-radius: var(--radius1);
    border: var(--border);
}

.input2{
    border: var(--border);
    width : 9.5em;
    height: 2.5em;
    border-radius: var(--radius1);
}

.input3{
    border: var(--border);
    width : 30em;
    height: 2.5em;
    border-radius: var(--radius1);
}

#details{
    height: 10.5em;
}

#detailsEvent{
    height: 16em;
}

#last-name{
    margin-left: 0.5em;
}

.connexion{
    display: flex;
    justify-content: right;
}

.icon{
    margin-top: 0.5em;
    margin-right: 1em;
}

.inscription{
    background: var(--light_primary);
    margin-right: 1em;
    margin-bottom: 1em;
    width : 9.5em;
    height: 2.5em;
}

#validate{
    display: flex;
    justify-content: right;
}

.form-spacing{
    margin-bottom: 0.5em;
}

#tooltip #tip {
    visibility: hidden;
    width: 30em;
    margin-left: 0.5em;
    position: absolute;
    background-color: var(--light_primary);
    border-radius: var(--radius1);

}

#tooltip:hover #tip {
    visibility: visible;

}

#tooltip #tip::after {
    content: "";
}

@media screen and (max-width: 768px) {
    #contact {
        flex-direction: column;
    }

    #formAddingEvent{
        display: flex;
        flex-direction: column;
    }

    #formAddingEvent .input{
        width: 8.5em;
    }

    #formAddingEvent .input2{
        width: 8.5em;
    }

    #formAddingEvent .input3{
        width: 15em;
    }

    #formContact .input{
        width: 10em;
    }

    #formContact .input2{
        width: 5em;
    }

    #form-left{
        margin-left: 0.5em;
    }

    #form-right{
        margin-left: 0.25em;
        margin-right: 0em;
    }

    form{
        margin: 0%;
    }

    #file{
        width: 15em;
    }

    #title{
        font-size: 35px;
    }
}