footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    margin: 0 auto;
    padding: 30px 20px;

}

a{
    color: var(--black);
    text-decoration: none;
}

.container_top_bot{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: var(--primary);;
}

.container_top_font {
    font-family: var(--title);
}

.container_bot_font {
    font-family: var(--text);
}

.container_top_bot__section {
    display: flex;
    align-items: center;
}

.container_top_bot__item {
    padding: 0.5em 1em;
    font-size: 1em;
}

.container_top_botButton {
    cursor: pointer;
}


.points-remaining {
    font-family: var(--text);
    font-weight: bolder;
}

.dropdown{
    position: absolute;
    z-index: 1;
    display: none;
    margin: 0;
    padding: 0;
    width: 18em;
    right: 0;
    border-radius: var(--radius1);
    list-style-type: none;
    background-color: var(--white);
    border: var(--border);
    transition: 0.3s ease-in-out;
}
.dropdown__li{
    padding: 1em;
    margin: 0;
    cursor: pointer;
}
.dropdown__li span{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    padding-right: 1em;
}
.underline{
    border-bottom: var(--border);
}
