.login {
    display: flex;
    background: var(--light);
    border: var(--border);
    align-items: center;
    justify-content: space-between;
    align-self: center;
    width: 60%;
    margin: 5rem auto;
    border-radius: var(--radius3);
    height: 30rem;
    padding: 0.5rem 0.7rem 0.5rem 4rem;
}

/* LEFT PANEL */

.login-left_panel {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 55%;
    row-gap: 2rem;
}

.login-title {
    margin: 0.5rem 2rem auto 2rem;
    font-size: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

}

.login-form-id {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.login-form-id label {
    margin-left: auto;

}

.login-form-input {
    width : 80%;
    height: 2.5em;
    border-radius: var(--radius1);
    border: var(--border);
    padding-left: 0.75rem;
}

.login-form-input-error {
    border: 3px solid #d32802;
}

.login-form-error_text {
    text-align: right;
}

.login-form-error_text a {
    text-decoration: underline;
}

.login-form-submit {
    display: flex;
    height: auto;
    column-gap: 2rem;
}

.login-form-submit button {
    border: var(--border);
    border-radius: var(--radius1);
    width: 10rem;
    height: 2.75rem;
    transition: transform 0.2s ease-in-out;
}

.login-form-submit button:hover {
    transform: scale(1.05);
}


.login-form-signup {
    margin-left: auto;
}

.login-form-login {
    background: var(--primary);
}

/* RIGHT PANEL */
.login-right_panel {
    width: 40%;
    height: 95%;
    background: var(--secondary);
    border-radius: var(--radius2);
}

.login-right_panel img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius2);
}


/* MEDIA QUERIES */

@media (max-width: 1200px) {

    .login {
        padding: 1rem;
    }

    .login-right_panel {
        display: none;
    }

    .login-left_panel {
        width: 100%;
        justify-content: space-evenly;
    }

    .login-form-submit {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 1.5rem;
    }

    .login-form-signup {
        margin-left: initial;
    }
}

@media (max-width: 550px) {

    .login-title {
        font-size: 2rem;
        text-align: center;
        margin: 0.5rem 0 0.1rem 0;
    }
}

@media (max-width: 644px) {
    .login-form-error_text {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .login {
        height: 35rem;

    }

    .login-form-id {
        flex-wrap: wrap;
        row-gap: 0.5rem;
        margin-top: 0.6rem;
    }

    .login-form-id label {
        margin: 0 auto;
    }

    .login-form-input {
        width: 100%;
    }
}