@font-face {
    font-family: "FLORAL";
    src: url("../Fonts/FloralBold.otf") format("opentype");
}

@font-face {
    font-family: "Kumbh";
    src: url("../Fonts/Kumbh Sans.ttf") format("truetype");
}

@font-face {
    font-family: "Kumbh Extra Bold";
    src: url("../Fonts/KumbhSans-ExtraBold.ttf") format("truetype");
}

:root {
    /* Variables */
    /* Colors */
    --black: #140A00;
    --light: #FDF1D8;
    --primary: #F9C04E;
    --light_primary: #FBDC9D;
    --secondary: #CD9FCC;
    --white: #fff;

    /* Fonts */
    --text: Kumbh, Roboto, sans-serif;
    --title: FLORAL, Roboto, sans-serif;

    --border: 1.5px solid var(--black);
    --radius3: 32px;
    --radius2: 16px;
    --radius1: 8px;

    /* General */
    color: var(--black);
    font-family: var(--text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {box-sizing:border-box}

body {
    margin:0;
    position: relative;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: var(--title);
    text-transform: lowercase;
}
h2{
    font-size: 1em;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--black);
}
