.user_manager{
    width: 50%;
    transition: 0.5s ease-in-out;
}
.container {
    margin-bottom: 2em;
}
.user_manager_all_users, .row_user{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 6em;
    grid-template-rows: 50px;
    align-items: center;
    justify-content: center;
}
.user_manager_all_users{
    border-radius: var(--radius1);
    overflow: hidden;
    margin: 0;
    border: var(--border);
}

/* Column */
.column_1, .column_2, .column_3, .column_4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border-bottom: var(--border);
    height: 100%;
}
.column_1{grid-column-start: 1;}
.column_2{grid-column-start: 2;}
.column_3{grid-column-start: 3;}
.column_4{grid-column-start: 4;}

.border_r{
    border-radius: var(--radius1);
    border: var(--border);
}
.row_user{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: var(--light_primary);
}
.row_user input, .row_user span, .submit_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.row_user input, .row_user span{
    min-width: 1em;
    max-width: 75%;
}
.modify_icons{
    display: flex;
    justify-content: center;
}
.modify_icons span{
    margin: 0;
}
.submit_button{
    grid-column-start: 4;
    height: 3em;
    background-color: var(--secondary);
    border-radius: var(--radius3);
}
@media screen and (max-width: 1200px) {
    .user_manager{
        width: 75%;
    }
}
@media screen and (max-width: 500px) {
    .user_manager{
        width: auto;
    }
}